# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################
#Exclude file extensions or specific directories by adding **/*.<extension> or **/<excluded_dir>/**
excludes = **/src/test **/src/it
archiveExcludes = **/*.war **/*.ear