<server description="default server">
    <featureManager>
        <feature>jsp-2.3</feature>
    </featureManager>
    <include optional="true" location="./testDir/server.xml"/>
    <include optional="true" location="./testDir/missing.xml"/>
    <include optional="true" location="/testDir/missing.xml"/>
</server>
