<server description="default server">
    <featureManager>
        <feature>jsp-2.3</feature>
    </featureManager>

    <variable name="first" value="appsdirectory-apps-configured"/>
    <variable name="second" value="bootstraps${dash}default${dash}it"/>
    <variable name="dash" value="-"/>
    <variable name="appName" value="${first}${dash}${second}"/>
    <variable name="location" defaultValue="${appName}"/>
    <webApplication location="${location}.${type}"/>
</server>
