/**
 * Inventory App
 * App for storing JVM system properties of various hosts.
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package io.openliberty.guides.inventory.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import io.openliberty.guides.inventory.model.InventoryList;

/**
 * Inventory App
 *
 * <p>App for storing JVM system properties of various hosts.
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/")
public interface DefaultApi  {

    @GET
    @Path("/inventory/properties")
    @Produces({ "application/json" })
    public Map<String, String> getProperties() throws ApiException, ProcessingException;

    /**
     * Get JVM system properties for particular host
     *
     * Retrieves and returns the JVM system properties from the system service running on the particular host.
     *
     */
    @GET
    @Path("/inventory/systems/{hostname}")
    @Produces({ "text/plain", "application/json" })
    public Map<String, String> getPropertiesForHost(@PathParam("hostname") String hostname) throws ApiException, ProcessingException;

    /**
     * List inventory contents.
     *
     * Returns the currently stored host:properties pairs in the inventory.
     *
     */
    @GET
    @Path("/inventory/systems")
    @Produces({ "application/json" })
    public InventoryList listContents() throws ApiException, ProcessingException;
}

