<server description="Sample Liberty server">

    <!--replaceable-->

    <variable name="default.http.port" defaultValue="9080" />
    <variable name="default.https.port" defaultValue="9443" />

    <httpEndpoint host="*" httpPort="${default.http.port}"
        httpsPort="${default.https.port}" id="defaultHttpEndpoint" />

    <enterpriseApplication id="guide-maven-multimodules-ear"
        location="guide-maven-multimodules-ear.ear"
        name="guide-maven-multimodules-ear" />

</server>
