<server description="production server">

    <!-- Enable features -->
    <featureManager>
        <feature>servlet-4.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="localhost"
                  httpPort="8080"
                  httpsPort="8443" />

    <application location="${rootArtifactId}-web-${version}.war" />

</server>
