<server description="test server">

    <!-- Enable features -->
    <featureManager>
        <feature>servlet-4.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="localhost"
                  httpPort="${httpPort}"
                  httpsPort="${httpsPort}" />

    <application location="${rootArtifactId}-web-${version}.war" />

</server>
