<server description="test server">

    <!-- Enable features -->
    <featureManager>
        <feature>servlet-3.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="localhost"
                  httpPort="${httpPort}"
                  httpsPort="${httpsPort}" />

</server>
