<server>
    <featureManager>
        <feature>mpConfig-1.3</feature>
    </featureManager>
    <include location="${test.datasources.file}"/>

    <include location="${test.datasources.file.2}"/>
    
    <include location="${test.datasources.file.3}"/>
   
    <include location="${test.datasources.file.4}"/>
</server>
