<server description="default server">
    <featureManager>
        <feature>jsp-2.3</feature>
    </featureManager>
        
    <webApplication id="toolchain-java-warning-server-env-custom-file-it" location="toolchain-java-warning-server-env-custom-file-it.war" name="toolchain-java-warning-server-env-custom-file-it"/>
</server>
