<!-- 
 (C) Copyright IBM Corporation 2017.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<server description="Sample MicroProfile server">
    <featureManager>
        <feature>microProfile-1.2</feature>
    </featureManager>
    

    <applicationManager autoExpand="true" />
    
     <!-- 
     Uncomment this section to try APIs which require security 
     (e.g. MicroProfile Metrics).  Note, this configuration is
     for test purposes only and MUST NOT BE USED IN PRODUCTION
     AS IT IS INSECURE. -->  
     <!--   
    <variable name="admin.password" value="change_it" />
    <variable name="keystore.password" value="change_it" />
    
    <quickStartSecurity userName="admin" userPassword="${admin.password}"/>
    <keyStore id="defaultKeyStore" password="${keystore.password}"/>    
     -->
     
    <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>
    
    <webApplication id="${artifactId}" location="${artifactId}.war" name="${artifactId}"/>
</server>
