<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.name}">

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443"/>

    <webApplication location="${project.name}.war" contextRoot="${app.context.root}">
        <classloader apiTypeVisibility="+third-party" />
    </webApplication>
</server>
