<?xml version="1.0" encoding="UTF-8"?>
<server description="Spring Boot 4.0 Dropins Test Server">
    <featureManager>
        <feature>springBoot-4.0</feature>
        <feature>servlet-6.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443" />

    <applicationManager autoExpand="true"/>
</server>
