<server description="Sample Liberty server">

    <featureManager>
        <feature>jsp-2.3</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080" />
    <variable name="default.https.port" defaultValue="9443" />

    <httpEndpoint host="*" httpPort="${default.http.port}"
        httpsPort="${default.https.port}" id="defaultHttpEndpoint" />

    <enterpriseApplication id="guide-maven-multimodules-ear-skinny-modules"
        location="guide-maven-multimodules-ear-skinny-modules.ear"
        name="guide-maven-multimodules-ear-skinny-modules" />
</server>
