<server description="default server">
    <featureManager>
        <feature>jsp-2.3</feature>
    </featureManager>
        
    <webApplication id="toolchain-java-warning-jvmoption-property-it" location="toolchain-java-warning-jvmoption-property-it.war" name="toolchain-java-warning-jvmoption-property-it"/>
</server>
